extends layout

block content
  div.bg-light.p-3.my-3
    h1.display-4 #{title}
    p.lead 予定調整くんは、GitHubで認証でき、予定を作って出欠が取れるサービスです
  if user && user.username
    div
      a(href="/schedules/new").btn.btn-primary 予定を作成
    - const hasSchedule = schedules.length > 0
    if hasSchedule
      h3.my-3 予定一覧
      table.table
        tr
          th 予定名
          th 更新日時
        each schedule in schedules
          tr
            td
              a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
            td #{schedule.formattedUpdatedAt}
